#page {
    background-image: url(https://pokerdiscover.com/media/blog/2017/01/rock-paper-scissor-ft-1.jpg);
    background-size: cover;
    margin: 0;
}

#page > header {
    font-family: 'Bebas Neue', cursive;
    padding: 5px;
    text-align: center;
    vertical-align: center;
    color: whitesmoke;
    background-color: rgb(86, 107, 128);
    width: 100vw;
}

#page > header > hr {
    border: none;
    height: 2px;
    background-color: whitesmoke;
}

#navbar > a:link {
    color: whitesmoke
}

#navbar > a:visited {
    color: lightblue;
}

#wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10%;
    grid-gap: 1%
}

#rules {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
}

#rules > h1 {
    text-align: center;
    color: whitesmoke;
}

#rules > p {
    color: whitesmoke;
}

#game-setup {
    grid-column: 1;
    grid-row: 1 / 5;
    background-color: rgb(86, 107, 128);
    font-family: 'Bebas Neue', cursive;
}

#game-setup > form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10%;
}

#game-setup > h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

#weapon-img {
    grid-column: 2;
    grid-row: 1 / 5;
    background-color: rgb(86, 107, 128);
}

#players {
    width: 140px;
    height: 40px;
}

#player1 {
    margin-top: 2%;
}

#player2 {
    display: none;
}

#start-game {
    margin-top: 5%;
    width: 140px;
    height: 40px;
    opacity: 0.5;
}

.weapon-select {
    width: 150px;
    height: 40px;
}

.name-in {
    width: 140px;
    height: 34px;
}

#result > p {
    text-align: center;
    padding: 5%;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
}