{% extends "base.html" %}

    {% block content %}
    <section id="wrapper">
        
        <section id="game-setup">
            <h1>Create Game</h1>
            <form action="/" method="POST">
                <label for="players">Number of players</label>
                <select name="n-players" id="players" onchange="displayPlayer2('player2' , this) ">
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                </select>

                <div id="player1">
                    <label for="name-1">Name</label>
                    <input type="text" name="name-1" id="name-1" placeholder="player1" required>
                    <select name="weapon-1" id="weapon-1" onchange="changeImg(event)" required>
                        <option value="" disabled selected> -- Choose Weapon -- </option>
                        <option value="rock"> 🪨 ROCK</option>
                        <option value="paper">📄 PAPER</option>
                        <option value="scissors">✂️ SCISSORS</option>
                    </select>
                </div>

                <div id="player2">
                    <label for="name-2">Name</label>
                    <input type="text" name="name-2" id="name-2" placeholder="player2">
                    <select name="weapon-2" id="weapon-2">
                        <option value="" disabled selected> -- Choose Weapon -- </option>
                        <option value="rock"> 🪨 ROCK</option>
                        <option value="paper">📄 PAPER</option>
                        <option value="scissors">✂️ SCISSORS</option>
                    </select>
                </div>
                
                <button type="submit">START BATTLE!</button>
            </form>
        </section>
        <section id="weapon-img">
            <h1>Main Content</h1>
        </section>
    </section>
    
    <script>
        function displayPlayer2(id, option) {
            var name2 = document.getElementById("name-2"),
                weapon2 = document.getElementById("weapon-2");

            if (option.value == 1) {
                document.getElementById(id).style.display = 'none';
                name2.removeAttribute("required");
                weapon2.removeAttribute("required");
                
            } else {
                document.getElementById(id).style.display = 'block';
                name2.setAttribute("required", "required");
                weapon2.setAttribute("required", "required");
            }
        }
        
        function changeImg(event) {
        }
    </script>
{% endblock %}