{% extends "base.html" %}

    {% block content %}

        <section id="rules">
            <h1>"TWO HANDS ENTER! ONE HAND LEAVES!"</h1>
            
            <h2>Rock Paper Scissors: <u>The Rules</u></h2>

                <p>Each player picks their weapon from the 3 available: <br>
                                Rock, Paper, or Scissors. <br>
                    Each weapon is strong against one, but weak against the remainder of the two.
                    If both players choose the same weapon, it's a tie game.

                    If you wish to play against the computer, select 1 from Number of players.
                    Otherwise, choose your weapon, then pass to the second player to choose theirs. <br>

                    Pressing the 'START BATTLE!' begins the game

                    To start a new game, press "PLAY GAME"
                </p>
            
        </section>

    {% endblock %}